.index
  .horse
    background-color: blue
    width: 100px
    height: 100px
    position: absolute
    left: 315px
    top: 143px
    animation: myOrbit 4s linear infinite
    -webkit-animation: myOrbit 4s linear infinitekit


=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

+keyframes(myOrbit)
  to
    transform: rotate(0deg) translateX(150px) rotate(0deg)
  from
    transform: rotate(360deg) translateX(150px) rotate(-360deg) 




/* 
 *  Starry Night DEMO
 *  chriscoyier@gmail.com
 *  http://chriscoyier.net

*
  margin: 0
  padding: 0

html
  overflow-y: scroll

.clear
  clear: both

.floatLeft
  float: left

.floatRight
  float: right

body
  font: 10px / 2 "Lucida Grande", Helvetica, Sans-Serif
  color: #eee

@-webkit-keyframes STAR-MOVE
  from
    left: 0
    top: 0
  to
    left: -10000px
    top: -3000px


#background
  background: black url(../images/horse.gif) repeat 5% 5%
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 100
  -webkit-animation-name: STAR-MOVE
  -webkit-animation-duration: 200s
  -webkit-animation-timing-function: linear
  -webkit-animation-iteration-count: infinite

#midground
  background: url(../images/horse.gif) repeat 20% 20%
  position: absolute
  opacity: 0.5
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 200
  -webkit-animation-name: STAR-MOVE
  -webkit-animation-duration: 150s
  -webkit-animation-timing-function: linear
  -webkit-animation-iteration-count: infinite


#foreground
  background: url(../images/bike.jpg) repeat 35% 35%
  opacity: 0.3
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 300
  -webkit-animation-name: STAR-MOVE
  -webkit-animation-duration: 100s
  -webkit-animation-timing-function: linear
  -webkit-animation-iteration-count: infinite


