---
title: Index
---

#background
#midground
#foreground

.index
  h1 Hello, everyone 

  .welcome

    ="Now who wants an e-mail address!"
  .horse
    //=image_tag 'horse.gif'

  //=image_tag 'bike.jpg'

  span="(horse currently used without permission)"
